# ========================
# 🐍 PYTHON
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
.virtualenv/
*.log
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints
# ========================
# 🧰 VS CODE / IDE
# ========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
# ========================
# ⚙️ System Files
# ========================
.DS_Store
Thumbs.db
# ========================
# 🔐 Confidencial
# ========================
*.env
*.secret
*.key
*.pem
# ========================
# 📦 Other
# ========================
build/
dist/
*.egg-info/